.CommentsBlockSection{
	border-top: 1px solid $lightGrey;
	.CommmentsBlock{
		h4{
			color: $secondaryColor;
			font-weight: 400;
		}
		&__list{
			// display: flex;
			// align-items: flex-start;
			margin-bottom: 2.5rem;
		}
		&__firstLeval{
			display: flex;
			align-items: flex-start;
			margin-bottom: 2.5rem;
		}
		&__image{
			width: 72px;
			height: 82px;
		}
		&__content{
			width: calc(100% - 95px);
			margin-left: 20px;
			h5{
				margin-bottom: 0;
				color: $lightBlack;
				font-size: 1.65rem;
				font-weight: 400;
			}
			small{
				font-size: 1.45rem;
				color: $middleGray;
			}
			p{
				margin-bottom: 0;
				margin-top: 8px;
			}
		}
		&__secondLeval{
			padding-left: 55px;
			.CommmentsBlock__list{
				display: flex;
				align-items: flex-start;
			}
		}
	}
	.CommentForm{
		h4{
			color: $secondaryColor;
			font-weight: 400;
			margin-bottom: 0;
		}
		input[type=submit]{
			margin-left: 0;
		}
	}
}