.MapSection{
	padding-bottom: 8rem;
	.ContactUsDetails{
		margin-top: 6rem;
		position: relative;
		.container{
			display: block;
			align-items: stretch;
			align-content: center;
			justify-content: flex-start;
			h3{
				margin-bottom: 1rem;
				line-height: 1;
				font-size: 2.2rem;
				font-weight: 400;
				@media (min-width: 768px){
					font-size: 2.5rem;
				}
			}
			.FormBox{
				background: $white;
				padding: 4rem;
				flex-basis: 100%;
				box-shadow: 0px 1px 30px 1px rgba(140, 140, 140, 0.28);
				border-radius: 5px 0 0 5px;				
				input[type="submit"]{
					margin-top: 3rem;
					font-size: 1.75rem;
					position: relative;
					cursor: pointer;
				}
				@media (min-width: 768px) {
				    flex-basis: 70%;
    			}
			}

			.InfoBox{
				background: $base;
				color: $white;
				flex-basis: 30%;
				padding: 4rem;
				border-radius: 0 5px 5px 0;
				h3{
					margin-bottom: 3rem;
				}
				ul.ContactDetails{
					li{
						display: flex;
						margin-top: 1rem;
						font-size: 1.65rem;
						img{
							margin-right: 10px;
						}
						&:nth-child(2){
							margin-top: 3rem;
							margin-bottom: 1rem;
						}
						&:nth-child(5){
							margin-top: 3rem;
						}
						a{
							display: flex;
		    				align-items: flex-end;
							color: $white;
							text-decoration: none;
						}
						.iconSpan{
							width: 28px;
			    		}
				    	.contentSpan{
				    		width: calc(100% - 28px);
				    		vertical-align: middle;
				    	}
						svg{
			    			width: 22px;
			    			height: 22px;
			    		}
					}
				}
				ul.SocialIcons {
			  		margin: 5rem auto 0 0;
				    padding: 0;
				    list-style: none;
				    display: flex;
				    align-items: center;
				    justify-content: flex-start;
					    li{
				    	display: inline-block;
				    	margin-right: 1.2rem;
				    	color: $white;
				    	font-size: 18px;
				    	font-family: Lato;
					    a {
					    	display: flex;
						    justify-content: center;
						    align-items: center;
						    transition: background ease 0.1s;
						    svg {
						    	width: 22px;
							    height: 22px;
							    fill: $white;
							    &:hover{
							    	fill: #ddd;
							    }
						    }			    
					    }
					    &:last-child{
					    	margin-right: 0;
					    }
				    }
				    @media (min-width: 768px){
						margin: 15rem auto 0 0;
				    }
				}
			}
			@media (min-width: 768px) {
				display: flex;
			}
		}
		@media (min-width: 768px) {
			margin-top: -23rem;
		}		
	}
}