.ContentImageBannerRightAligned{
	padding: 2rem 0;
	position: relative;
	min-height: 400px;
	display: block;
	align-items: center;
	@media(min-width: 678px){
		padding: 5rem 0;
		display: flex;
	}
	.SideAllignedImageDiv{
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
		height: auto;
		padding-left: 0;
		@media(min-width: 678px){
			position: absolute;
			padding-left: 15px;
			width: 50%;
			height: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	.PageBannerContentBlock{
		// padding-right: 0;
		// @media(min-width: 678px){
		// 	padding-right: 15px;
		// }
		h2{
			font-weight: 100;
		    margin-bottom: 1rem;
		    max-width: 100%;
		    font-size: 2.5rem;
		    @media screen and (min-width: 768px) {
		        max-width: 300px;
		        font-size: 3.5rem;
		    }
		}
		p{
		margin: 1rem 0;
		font-size: 1.65rem;
			@media(min-width: 678px){
				font-size: 1.7rem;
			}
		}
	}
	
	
}
