.ContentBlock{
	padding-top: 2rem;
	@media(min-width: 678px){
		padding-top: 0;
	}
	h2{
	    font-weight: 100;
	    margin-bottom: 1.2rem;
	    max-width: 100%;
	    font-size: 3rem;
	    @media(min-width: 678px){
	    	font-size: 3.5rem;
	    	margin-bottom: 2.2rem;
	    }
	  }
	p{
	    margin: 1rem 0;
	    font-size: 1.6rem;

	}
}
