.FourRowsImageContent{
	position: relative;
	&:before{
		content: "";
	    background-image: url(../img/curve-2.svg);
	    background-repeat: no-repeat;
	    background-position: right top;
	    background-size: auto;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    right: 0;
	}
	&:after{
		content: "";
	    background-image: url(../img/curve-3.svg);
	    background-repeat: no-repeat;
	    background-position: left bottom;
	    background-size: contain;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 20%;
	    left: 0;
	}
}

.FirstRow-LeftImageRightContent{
	position: relative;
	z-index: 6;
	.ImageSection{
		img{
			position: static;
		    top: -55px;
		    left: 0;
		    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
		    @media(min-width: 678px){
		    	position: absolute;
		    }
		}
	}
	.ContentSection{
		padding-top: 20px;
		@media(min-width: 678px){
			padding-top: 0;
		}
		h2{
			font-weight: 300;
			max-width: 100%;
			@media(min-width: 678px){
				max-width: 325px;
			}
		}
	}
}

.SecondRow-FullImage{
	max-height: 600px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	img{
		width: 100%;
	}
}

//Third row
.ThirdRow-LeftContentRightImage{
	position: relative;
	z-index: 5;
	.ImageSection{
		img{
			position: static;
		    top: -125px;
		    left: 0;
		    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
		    @media(min-width: 678px){
		    	position: absolute;
		    }
		}
	}
	.ContentSection{
		padding-top: 20px;
		@media(min-width: 678px){
			padding-top: 0;
		}
		h2{
			font-weight: 300;
			
		}
		h4{
			font-weight: 300;
		}
	}
}

//Four row
.FourRow-LeftImageRightContent{
	position: relative;
	z-index: 5;
	&.Section{
		padding-bottom: 0;
	}
	.row{
		align-items: center;
		.col-md-6{
			padding-left: 15px;
			@media(min-width: 678px){
				padding-left: 0;
			}
		}
	}
	.ImageSection{
		padding-bottom: 20px;
		@media(min-width: 678px){
			padding-bottom: 0;
		}
	}
}