.HeadingContent-LeftAlign{
	.LeftAlignContent{
		h2{
			font-weight: 300;
			color: $white;
		}
		p{
			color: $white;
			max-width: 100%;
			@media(min-width: 678px){
				max-width: 65%;
			}
		}
	}
}