.HomeBanner{
	padding: 0 0 2rem;
	position: relative;
	min-height: 530px;
	display: block;
	align-items: center;
	@media(min-width: 678px){
		padding: 5rem 0;
		display: flex;
		padding: 2rem 0;
	}
	.SideAllignedImageDiv{
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
		height: auto;
		padding-left: 0;
		@media(min-width: 678px){
			padding-left: 15px;
			width: 50%;
			height: 100%;
			position: absolute;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	.HomeBannerContentBlock{
		// padding-right: 0;
		// @media(min-width: 678px){
		// 	padding-right: 15px;
		// }
		h1{
			font-weight: 100;
		    margin-bottom: 1rem;
		    max-width: 100%;
		    @media screen and (min-width: 768px) {
		        max-width: 300px;
		    }
		  }
	}
	p{
		margin: 1rem 0;
		font-size: 18px;
		&.ButtonElement{
		    margin-top: 4rem;
		  }
	}
	
}
