.HomeBottomSlider{
	padding-top: 4rem;
	padding-bottom: 4rem;
	h2{
		font-family: $primaryFont;
		font-weight: 300;
		text-align: center;
	}

	h4{
		margin-bottom: 10px;
		margin-top: 30px;
		font-weight: 300;
		font-size: 2rem;
		@media(min-width: 678px){
			font-size: 2.2rem;
		}
	}
	p{
		text-align: center;
		color: $lightBlack;
		max-width: 100%;
    	margin: 0 auto 20px;
    	@media(min-width: 678px){
    		max-width: 80%;
    	}

	}
	.slick-current{
		.thumb-pic{
			p{
				color: $secondaryColor;
			}
		}
	}
	.slider-for{
		text-align: center;
		.slick-slide{
			img{
				margin: 0 auto;
				height: 375px;
			}
			svg{
				height: 375px;
			}
			.svg{
				height: 210px;
				@media(min-width: 678px){
					height: 320px; 
				}
				@media(min-width: 992px){
					height: 375px; 
				}
			}
			// p{
			// 	max-width: 100%;
			// }
		}
		.slick-prev{
			background: url(../img/left-arrow.png) no-repeat;
			left: 0;
		}
		.slick-next{
			background: url(../img/right-arrow.png) no-repeat;
			right: 0;
		}
		.slick-next, .slick-prev{
			height: 62px;
			width: 62px;
			text-indent: -999px;
			z-index: 1;
			&:before{
				display: none;
			}
		}
	}
	.slider-nav{
    	margin: 0 auto;
		margin-top: 30px;
		.slick-list{
			width: 100%;
			margin: 0 auto;
			// height: 100%;
			border: 1px solid $lightGrey;
    		box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.09);
    		max-height: 78px;
    		@media(min-width: 678px){
    			max-height: 102px;
    			width: 80%;
    		}
    		@media(min-width: 967px){
    			max-height: 114px;
    		}
			.slick-track{
				// height: 100%;
				text-align: center;
			}
			.slick-slide{
				border-right: 1px solid $secondaryColor;
				transform: scaleY(1);
				padding: 16px 15px;
				background-color: $lightWhite;
				&:last-child{
					border-right: unset;
				}
				.thumb-pic{
					display: flex !important;
					align-items: center;
					justify-content: center;
					img{
						margin-right: 10px;
						border-radius: 50%;
					    border: 1px solid $lightGrey;
					    width: 45px;
					    height: 45px;
					    @media(min-width: 678px){
					    	width: 70px;
					    	height: 70px; 
					    }
					    @media(min-width: 967px){
			    			width: 80px;
					    	height: 80px; 
			    		}
					}
					p{
						margin-bottom: 0;
						font-size: 1.2rem;
						@media(min-width: 678px){
							font-size: 1.6rem;
						}
					}
				}
				&.slick-current{
					transform: scale(1.2) !important;
				    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.2784313725490196);
				    background: $white !important;
				    color: $secondaryColor;
				    position: relative;
				    z-index: 9;
				    border-right: unset !important;
				    @media screen and (min-width: 768px){
				    	// background: #fff !important;
				    }
				}
			}	
			@media screen and (min-width: 768px){
				width: auto !important;
			}	
		}
		.slick-prev{
			background: url(../img/left-small-arrow.png) no-repeat;
			left: -2px;
			@media screen and (min-width: 768px){
				left: -50px;
			}
		}
		.slick-next{
			background: url(../img/right-small-arrow.png) no-repeat;
			right: -5px;
			@media screen and (min-width: 768px){
				right: -50px;
			}
		}
		.slick-next, .slick-prev{
			height: 23px;
			width: 15px;
			text-indent: -999px;
			&:before{
				display: none;
			}
		}
	}


.bg  {
  position: relative;
}

.path {
  animation: draw 2s infinite;
}

 @keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Slider */

}