.LeftContentRightContentSection{
	.ContentBox{
		width: fit-content;
		margin: auto;
		h2{
			font-weight: 300;
			margin-bottom: 10pxl
		}
		h4{
			color: $secondaryColor;
			font-weight: 400;
			font-size: 1.65rem;
			margin-bottom: 10px;
			@media(min-width: 678px){
				font-size: 1.85rem;
			}
			span{
				margin-right: 10px;
			}
			svg{
				width: 20px;
				height: 20px;
			}
		}
		a{
			color: $secondaryColor;
			vertical-align: middle;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.ColLeft{
		border-right: 1px dashed $lightGrey;
		margin-bottom: 20px;
	}
}