.LeftContentRightFormSection{
	.leftCol{
		border-right: none;
		@media(min-width: 678px){
			border-right: 1px dashed $lightGrey;
		}
	}
	h2{
		font-weight: 300;
	}
	.LeftContent{
		padding-right: 0;
		@media(min-width: 678px){
			padding-right: 30px;
		}
	}
	.RightContent{
		padding-left: 0;
		@media(min-width: 678px){
			padding-left: 30px;
		}
	}
	input[type=date], input[type=email], input[type=text], input[type=time], select{
		padding: 12px;
	}
	textarea{
		height: 110px;
	}
	input[type=submit]{
		margin-left: 0;
	}
}