.ProductFeatures{
	h2{
		font-weight: 100;
	}
	img{
		width: 100%;
	}
	.PaddingRight{
		padding-right: 15px;
		@media screen and (min-width: 768px){
			padding-right: 50px;
		}
	}
	.PaddingLeft{
		padding-left: 15px;
		@media screen and (min-width: 768px){
			padding-left: 55px;
		}
	}
	svg{
		width: 50px;
		height: 50px;
		fill: black;
		background: #fff;
		padding: 13px;
		border-radius: 3px;
		box-shadow: #ddd 0 0 12px 5px;
	}
	.row{
		height: 100%;
		.col-12.col-md-5{
			.col-12.col-md-2{
				flex: 0 0 25%;
				@media screen and (min-width: 768px){
					max-width: 30.6666%;
					flex: 0 0 30.6666%;
				}
				@media screen and (min-width: 1024px){
					flex: 0 0 16.6666%;
				}
			}
			.col-12.col-md-10{
				flex: 0 0 75%;
				@media screen and (min-width: 768px){
					max-width: 69.3333%;
					flex: 0 0 69.3333%;
				}
				@media screen and (min-width: 1024px){
					flex: 0 0 83.3333%;
				}
			}
		}
		.col-12.col-md-2{
			
		}
	}
}