.ProductSlider{
	.SmallContainer{
		max-width: 960px;
		margin: 0 auto;
			.slick-slide{
				img{
					margin: 0 auto;
					border-radius: 10px;
					width: 100%;
				}
			}
			.slick-prev{
				background: url(../img/left-arrow.png) no-repeat;
				left: -80px;

				@media(min-width: 768px) and (max-width: 1023px){
					left: 20px;
					background-color: rgba(255,255,255,0.6);
					border-radius: 50%;
				}
				@media(min-width: 1024px) and (max-width: 1200px){
					left: 20px;
					background-color: rgba(255,255,255,0.6);
					border-radius: 50%;
				}
			}
			.slick-next{
				background: url(../img/right-arrow.png) no-repeat;
				right: -80px;
				@media(min-width: 768px) and (max-width: 1023px){
					right: 20px;
					background-color: rgba(255,255,255,0.6);
					border-radius: 50%;
				}
				@media(min-width: 1024px) and (max-width: 1200px){
					right: 20px;
					background-color: rgba(255,255,255,0.6);
					border-radius: 50%;
				}
			}
			.slick-next, .slick-prev{
				height: 62px;
				width: 62px;
				text-indent: -999px;
				z-index: 1;
				&:before{
					display: none;
				}
			}
	}
}