.ProductComparison{
	.TableBox{
		overflow-x: scroll;
		@media (min-width: 768px){
			overflow-x: hidden;
		}
		table{
			width: 800px;
			@media (min-width: 768px){
				width: 100%;
			}
			tr{
				width: 100%;
				border-top: thin solid #ddd;
				&:first-child{
					border-top: thin solid transparent;
					td{
						padding: 10px;
					}
				}
				td{
					font-size: 16px;
					padding: 15px 10px;
					color: $grey;
					&:first-child{
						width: fit-content;
						text-align: left;
						box-shadow: inset -10px 1px 10px -5px #eee;
						@media (min-width: 768px){
							width: 40%;
						}
					}
					&:nth-child(2){
						width: fit-content;
						text-align: center;
						box-shadow: inset -10px 1px 10px -5px #eee;
						@media (min-width: 768px){
							width: 20%;
						}
					}
					&:nth-child(3){
						width: fit-content;
						text-align: center;
						box-shadow: inset -10px 1px 10px -5px #eee;
						@media (min-width: 768px){
							width: 20%;
						}
					}
					&:nth-child(4){
						width: fit-content;
						text-align: center;
						@media (min-width: 768px){
							width: 20%;
						}
					}
					b{
						font-size: 18px;
					}
					svg{
						width: 25px;
						height: 25px;
					}
				}

				h2{
					font-weight: 100;
					margin-bottom: 0;
				}
				td.FullWidth{
					box-shadow: none;
					text-align: center;
				}
			}
		}
	}
	p{
		margin-top: 50px;
		margin-bottom: 0;
		text-align: center;
		a.Button{
			margin: 0 auto;
		}
	}
}