.BlogPostRightContent{
	.RecentPostBox{
		border: 1px solid $lightGrey;
		background-color: $lightSkyColor;
		padding: 3rem;
		h4{
			color: $secondaryColor;
			font-weight: 400;
			@media (min-width: 678px) and (max-width: 991px){
				text-align: center;
			}
		}
		&__list{
			padding-bottom: 2.5rem;
			&:last-child{
				padding-bottom: 0;
			}
			a{
				display: flex;
				align-items: center;
				@media (min-width: 678px) and (max-width: 991px) {
					display: block;
					text-align: center;
				}
				&:hover{
					text-decoration: none;
					h5{
						color: $black;
					}
				}
			}
			.RecentPostImg{
				width: 82px;
    			height: 72px;
    			@media (min-width: 678px) and (max-width: 991px){
					margin: 0 auto 0.8rem;
    			}
			}
			.RecentPostContent{
				width: calc(100% - 98px);
    			margin-left: 15px;
    			@media (min-width: 678px) and (max-width: 991px) {
					width: 100%;
					margin-left: 0;
				}
				h5{
					font-weight: 400;
					font-size: 1.6rem;
					margin-bottom: 5px;
					color: $lightBlack;
					@include Ease(0.25s);
				}
				p{
					font-size: 1.45rem;
					color: $middleGray;
					margin-bottom: 0;
					span{
						margin-right: 5px;
						svg{
							width: 18px;
							height: 18px;
							fill: $middleGray;
						}
					}
				}
			}
		}
	}
	.RecentPostSocialMedia{
		border: 1px solid $lightGrey;
		background-color: $lightSkyColor;
		padding: 3rem;
		h4{
			color: $secondaryColor;
			font-weight: 400;
		}
		ul{
			display: flex;
			justify-content: space-between;
			padding-right: 60px;
		}
		&__list{
			width: 40px;
		    height: 40px;
		    border: 1px solid $facebokkColor;
		    border-radius: 50%;
		    @include FlexCenter;
		    @include Ease(0.25s);
		    &:hover{
    			svg{
					// fill: $white;
					// animation: slideDown 1s forwards;
					transform: translate(-50%, -50%) scale(1);
    			}
			}
		    a{
		    	// @include FlexCenter;
		    	width: 100%;
		    	height: 100%;
			    display: block;
			    border-radius: 50%;
			    position: relative;
		    }
			svg{
				width: 18px;
				height: 18px;
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%) scale(0.9);
			    @include Ease(0.25s);
			}
			&.facebook{
				border: 1px solid $facebokkColor;
				svg{
					fill: $facebokkColor;
				}
			}
			&.insta{
				border: 1px solid $instaColor;
				svg{
					fill: $instaColor;
				}
			}
			&.linkdin{
				border: 1px solid $linkdinColor;
				svg{
					fill: $linkdinColor;
				}
			}
			&.twitter{
				border: 1px solid $twitterColor;
				svg{
					fill: $twitterColor;
				}
			}
		}
	}
}


@keyframes slideDown {
	0%{
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
