.SearchBox{
	width: 100%;
	display: flex;
	padding-bottom: 3rem;
	input[type="search"]{
		width: calc(100% - 50px);
	    padding: 13px;
	    border: thin solid $lightGrey;
	    border-radius: 0;
	    background-color: $lightSkyColor;
	    margin-top: 0;
	    font-size: 16px;
	    &:focus{
	    	outline: none;
	    }
	}
	span{
		background-color: $base;
		border: 1px solid $base;
		width: 50px;
		@include FlexCenter;
		cursor: pointer;
		@include Ease(0.25s);
		position: relative;
		&:hover{
			// background-color: $lightSkyColor;
			svg{
				fill: $base;
			}
		}
		&:before{
	    	content: "";
		    background: url(../img/search.svg) center no-repeat;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%) scale(0.9);
		    background-size: 20px 20px;
		    width: 100%;
		    height: 100%;
		    @include Ease(0.25s);
	    }
	    &:hover{
	    	&:before{
				transform: translate(-50%, -50%) scale(1.1) rotate(-15deg);
	    	}
	    }
	}
	input[type="submit"]{
		padding: 13px;
	    margin: 0;
	    width: 100%;
	    position: relative;
	    background: transparent;
	    border: none;
	    border-radius: 0;
	    &:focus{
	    	outline: none;
	    }
	}
}