.SideAlignedImageDiv{
	position: static;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	@media(min-width: 678px){
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
	}
	&.rightAlignedImage{
		right: 0;
		padding-left: 0;
		@media(min-width: 678px){
			padding-left: 15px;
		}
	}
	&.LeftAlignedImage{
		left: 0;
		padding-right: 0;
		@media(min-width: 678px){
			padding-right: 15px;
		}
	}
	img{
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: 50% 50%;
		@media(min-width: 678px){
			height: 100%;
		}
	}
}