.TestimonialBlock{
	h2{
		font-weight: 100;
		text-align: center;
		margin-bottom: 2rem;
		@media screen and (min-width: 768px){
			margin-bottom: 2rem;
		}
	}
	.TestimonialSlider{
		position: relative;
		.slider {
	        width: 100%;
	        margin: 0 auto 50px;
	        @media screen and (min-width: 768px){
	        	width: 90%;
	        	margin: 0px auto 50px;
	        }
	        .SlidesBlock{
	        	img{
	        		margin: 0 auto;
	        	}
	        }
	     	.slick-prev{
				background: url(../img/left-arrow.png) no-repeat;
				left: -50px;
			}
			.slick-next{
				background: url(../img/right-arrow.png) no-repeat;
				right: -50px;
			}
			.slick-next, .slick-prev{
				height: 62px;
				width: 62px;
				text-indent: -999px;
				&:before{
					display: none;
				}
			}
	    }
	    .SlidesBlock{
	    	display: flex !important;
	    	align-items: center;
	    	justify-content: center;
	    	flex-direction: column;
	    	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
	    	padding: 40px 10px;
	    	position: relative;
	    	background-color: $white;
	    	border-radius: 5px;
	    	min-width: 320px;
	    	@media screen and (min-width: 768px){
	    		padding: 40px 100px;
	    	}
	    	h4{
	    		text-align: center;
	    		font-weight: 100;
	    		margin-top: 30px;
	    		margin-bottom: 10px;
	    	}
	    	span{
	    		color: #a4a4a4;
	    		font-size: 1.8rem;
	    	}
	    	p{
	    		font-size: 15px;
	    		text-align: center;
	    		margin: 15px 0 0;
	    	}
	    	&:before{
	    		content: '';
	    		position: absolute;
	    		width: 95%;
	    		height: 10px;
	    		box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
	    		background: rgba(255, 255, 255, 0.30196078431372547);
	    		bottom: -13px;
	    		left: 0;
	    		right: 0;
	    		margin: 0 auto;
	    	}
	    }
	    .slick-dots{
	    	bottom: -45px;
	    }
	    .slick-dots li button{
	    	padding: 0;
	    	&:before{
	    		font-size: 15px;
	    		content: '';
	    		border: 1px solid $secondaryColor;
	    		border-radius: 50%;
	    		opacity: 1;
	    		width: 10px;
	    		height: 10px;
	    		background-color: transparent;
	    		transition: all 0.25s ease-in;
	    	}
	    	&:hover{
	    		&:before{
	    			background-color: $secondaryColor;
	    		}
	    	}
	    }
	    .slick-dots li.slick-active button{
	    	&:before{
	    		background: $secondaryColor;
	    		content: '';
	    		border-radius: 50%;
	    		opacity: 1  !important;
	    		width: 10px;
	    		height: 10px;
	    	}
	    }
	}


    .slick-slide {
		transition: all ease-in-out .3s;
		opacity: .2;
		margin: 0;
		padding: 0;
		@media screen and (min-width: 768px){
			margin: 0 20px;
			padding: 20px;
		}      
    }

    // .slick-active {
    //   opacity: .5;
    // }

    .slick-current {
      opacity: 1;
    }
}