.WarrantyRegFormBlock{
	.LeftAlignContent{
		h2{
			font-weight: 300;
			color: $black;
		}
		p{
			color: $lightBlack;
		}
	}
	.FormDiv{
		h4{
			margin-bottom: 0;
			color: $secondaryColor;
			font-weight: 400;
		}
	}
	input[type="submit"]{
		margin: 2rem 0 0;
		width: 100%;
	}
}

