// $base : #3f95b6;
$base: #3c98b1;
$black: #000;
$white: #fff;
$grey: #444;
$lightBlack: #333;
$lightWhite: #f7f7f7;
$quoteColor: #996633;
$lightGrey: #dadada;
$secondaryColor: #2593b5;
$BgColorbulue: #f5fafd;
$middleGray: #868686;
$lightSkyColor: #f5fafd;

$placeholder: #d2d2d2;

$facebokkColor: #3b5998;
$instaColor: #e63d5d;
$linkdinColor: #0077B5;
$twitterColor: #00acee;

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;