.MobileMenu{
	/* Bootstrap Extra Classes */
	.no-margin {
		margin: 0;
	}

	.no-padding {
		padding: 0;
	}

	/* Menu */
	// header {
	// 	position:fixed;
	// 	top:0;
	// 	left:0;
	// 	right:0;
	// 	width:100%;
	// 	background:#fafafa;
	// 	height:60px;
	// 	z-index:9999;
	// }

	// header.scrolled {
	// 	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
	// }

	// header nav {
	// 	clear:both;
	// 	display: block;
	// 	line-height: 60px;
	// 	height:60px;
	// 	position:relative;
	// }

	.menu-container {
		padding-left:30px;
		padding-right:30px;
	}

	a.grt-logo {
		display:inline-block;
	}

	a.grt-logo img {
		max-height: 60px;
	    width: auto;
	}

	.grt-mobile-button {
		display:none;
	}

	.grt-mobile-button:focus {
		border:0;
		outline:0;
	}

	.body-overflow {
		overflow:hidden;
	}

	ul {
		display: none;
		float:right;
		margin:0 -10px 0 0;
		padding:0;
		list-style-type: none;
	}

	ul:after {
		content:"";
		clear:both;
		display:block;
	}

	ul li {
		display: inline-block;
		margin:0;
		padding:0;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
	}

	ul li a {
		padding: 5px 12px;
		font-size:21px;
		display: inline-block;
		color:#303030;
		line-height: 1.1em;
		box-shadow: inset 0 0 0 0 #FFF;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
		position:relative;
		text-decoration: none;
		
	}


	ul li.active a:after  {
	    position: absolute;
	    bottom: 1px;
	    content: "";
	    left: 12px;
	    right: 12px;
	    border-bottom: 2px solid #3c98b1;
	}

	@keyframes fadeIn {
	    from { opacity: 0; }
	      to { opacity: 1; }
	}

	ul li:hover {
		cursor:pointer;
	}

	ul li:hover a {
		box-shadow: none;
	}

	ul li ul {
		display:none;
		position:absolute;
		background:#3c98b1;
		margin: 0;
		padding: 0;
		min-width:150px;
		animation: fadeIn 0.8s;
		z-index: 999;
		height: auto !important;
	}

	ul li ul li a {
		display:block;
		font-size:18px;
		color: #FFF;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
		padding: 9px 12px;
	}

	ul li ul li:last-child a {
		padding-bottom:15px;
	}

	ul li.active-dropdown {
		background: #3c98b1;
	}

	ul li.active-dropdown ul {
		display:block !important;
		height: auto !important;
	}

	ul li.active-dropdown a {
		color:#FFF;
	}


	/* Desktop only style */
	@media (min-width:768px) {

		ul li:hover > a + ul {
			display:block;
			top: calc(100% - 17px);
		}

		ul li ul li {
			display:block;
		}

		ul li:hover > a {
			color:#FFF;
			box-shadow: inset 150px 0 0 0 #3c98b1;
		}

		ul li a:hover {
			color:#FFF;
			box-shadow: inset 150px 0 0 0 #3c98b1;
		}
	}

	/* Tablet only style */
	@media (min-width:768px) and (max-width:991px) {
		ul li a {
			font-size:18px;
		}
	}

	/* Mobile only style */
	@media (max-width:767px) {

		.menu-container {
			padding-left: 15px;
			padding-right: 15px;
		}

		.grt-mobile-button {
			display:inline-block;
			position:absolute;
			right:0;
			top:-50px;
			background:#fafafa;
			color:#3d3d3d;
			margin:0;
			padding:0;
			cursor:pointer;
			border: 0;
			width:25px;
		}

		.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
			width: 25px;
			height: 2px;
			background-color: #333;
			margin: 6px 0;
			transition: 0.4s;
		}

		ul {
			display:none;
			margin:0;
	  		height: 0;
		}

		ul.open-grt-menu {
			position: fixed;
			background: #fafafa;
			width: 100%;
			left: 0;
			right: 0;
			z-index: 1;
			top: 0;
			height:100%;
			float: none;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}

		.grt-mobile-button-open {
			position: fixed;
			z-index:99999;
			right:25px;
			top:25px;
		}

		.grt-mobile-button-open .line1 {
			-webkit-transform: rotate(-45deg) translate(-8px, 5px);
			transform: rotate(-45deg) translate(-8px, 5px);
		}

		.grt-mobile-button-open .line2 {opacity: 0;}

		.grt-mobile-button-open .line3 {
			-webkit-transform: rotate(45deg) translate(-8px, -7px);
			transform: rotate(45deg) translate(-8px, -7px);
		}

		ul li {
			display: block;
			line-height: 3.5em;
		}

		ul li a {
			padding: 6px 10px;
			font-size:30px;
		}

		ul li ul {
			width:100%;
			position: relative;
			display:none;
		}

		ul li ul li a {
			display: block;
			font-size: 17px;
		}
	}
}